<div>
    <div class="header">
        Total information
    </div>
    <div class="info-label">
        Total sum of debt: <span class="info">{{totalDebt}}</span>
    </div>
    <div class="info-label">
        Already paid: <span class="info">{{paid}}</span>
    </div>
    <div class="info-label">
        Left: <span class="info red">{{totalDebt - paid}}</span>
    </div>
    <div class="info-label">
        Debt was taken on: <span class="info">{{started}}</span>
    </div>
    <div class="info-label">
        Repay a debt until: <span class="info">{{until}}</span>
    </div>
</div>